<a href="https://colab.research.google.com/github/kritikachugh/Python_basics/blob/master/Practice_data_structure_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Question 1

You are given a list of integers and you have to write a function each for calculating the square of integers and a cube of integers, respectively. After then, you have to write a function for adding the square and cube of the integers and you have to return the results in a new list.
Hint :    
1.  Input : One list of integers Ex: [x, y, z]
2.  Process: x^2 + x^3
3.  Output: One list of integers

In [ ]:
# First way is to declare a list of integers before writing the function
numbers = [2, 4, 3, 0, 1]

def square(number):
  return number**2 

def cube(number):
  return number**3

def square_add_cubes(numbers):
  new_numbers = []
  for number in numbers:
    new_numbers.append(square(number) + cube(number))
  return new_numbers
    

square_add_cubes(numbers)

[12, 80, 36, 0, 2]

In [ ]:
# Second way is to give the list of numbers while calling a function
def square(number):
  return number**2 

def cube(number):
  return number**3

def square_add_cubes(numbers):
  new_numbers = []
  for number in numbers:
    new_numbers.append(square(number) + cube(number))
  return new_numbers
    

square_add_cubes([2,3,4,0,1])

[12, 36, 80, 0, 2]

## Question 2

You are given a list of integers and you have to write a function for calculating the square of even integers and a cube of odd integers. After then, you have to return the results in a new list.

Hint :
*   Input : One list of integers Ex: [x, y, z]
*   Process: x^2 - even number, x^3 - odd number
*   Output: One list of integers

In [ ]:
numbers = [2, 4, 3, 0, 1]

def square_or_cube(number):
  if number % 2 == 0:
    return number**2
  else:
    return number**3

def squares_or_cubes(numbers):
  new_numbers = []
  for number in numbers:
    new_numbers.append(square_or_cube(number))
  return new_numbers

squares_or_cubes(numbers)

[4, 16, 27, 0, 1]

## Question 3

You are given two lists of equal lengths containing integers. You have to write a function for calculating a^2 + b^2 + 2^a^b and return these values in a new list. 

Hint: ## To perform this task you have to use zip() function to combine two lists of equal length.
*   Input : Two lists of integers
*   Process : a^2 + b^2 + 2^a^b 
*   Output : One list of integers

In [ ]:
## One way is to declare the lists before function 
a_values = [2, 4, 3, 0, 1]
b_values = [12, 14, 13, 10, 11]

def make_whole_square(a_value, b_value):
  return a_value**2 + b_value**2 + 2*a_value*b_value

def make_whole_squares(a_values, b_values):
  whole_squares = []
  for a_value, b_value in zip(a_values, b_values):
    whole_square = make_whole_square(a_value, b_value)
    whole_squares.append(whole_square)
  return whole_squares

make_whole_squares(a_values, b_values)

[196, 324, 256, 100, 144]

In [ ]:
## Another way is to input the lists while calling a function
def make_whole_square(a, b):
  return a**2 + b**2 + 2*a*b

def make_whole_squares(a, b):
  whole_squares = []
  for a, b in zip(a, b):
    whole_square = make_whole_square(a, b)
    whole_squares.append(whole_square)
  return whole_squares

make_whole_squares([2, 4, 3, 0, 1], [12, 14, 13, 10, 11])

[196, 324, 256, 100, 144]

## Question 4

You are given two lists of unequal lengths containing integers. You have to write a function for calculating a^2 + b^2 + 2^a^b and use range and index and assert() and return these values in a new list. Perform similar task using two lists of equal length.

Hint:  # In unequal lists, parallel traversal over common indices is done 
         using for loop over range of minimum length      
*   Input : Two lists of integers
*   Process : a^2 + b^2 + 2^a^b 
*   Output : One list of integers

In [ ]:
## Two lists of unequal length

values_a = [2, 4, 3, 0, 1, 5, 7, 8]
values_b = [12, 14, 13, 10, 11]

def make_whole_square(value_a, value_b):
  return value_a**2 + value_b**2 + 2*value_a*value_b
  
def make_whole_squares(values_a, values_b):
  assert len(values_a) == len(values_b), 'Length of the lists must be equal'
  whole_squares = []
  for index in range(len(values_b)):
    whole_square = make_whole_square(values_a[index], values_b[index])
    whole_squares.append(whole_square)
  return whole_squares

make_whole_squares(values_a, values_b)

AssertionError: ignored

In [ ]:
## Two lists of equal length
values_a = [2, 4, 3, 0, 1]
values_b = [12, 14, 13, 10, 11]

def make_whole_square(value_a, value_b):
  return value_a**2 + value_b**2 + 2*value_a*value_b
  
def make_whole_squares(values_a, values_b):
  assert len(values_a) == len(values_b), 'Length of the lists must be equal'
  whole_squares = []
  for index in range(len(values_b)):
    whole_square = make_whole_square(values_a[index], values_b[index])
    whole_squares.append(whole_square)
  return whole_squares

make_whole_squares(values_a, values_b)

## Question 5

You are given a list of integers. Write a function and return a new list containing integers such that square of each integer is increased by 10.

Hint:
*   Input : One list of integers [x, y, z]
*   Proces : x^2 + 10, y^2 + 10....
*   Output : One list of integers

In [ ]:
## Using function and for loop
numbers = [2, 4, 3, 0, 1]
number_to_add = 10

def square_add(number, number_to_add):
  return number*number + number_to_add

def process(numbers, number_to_add):
  new_numbers = []
  for number in numbers:
    new_number = square_add(number, number_to_add)
    new_numbers.append(new_number)
  return new_numbers
  

process(numbers, number_to_add)

## Question 6

You are given a list of integers. Write a for loop and use range to return a new list containing integers such that each integer is increased by 10.

Hint:
*   Input : One list of integers [x, y, z]
*   Proces : x^2 + 10, y^2 + 10....
*   Output : One list of integers

In [ ]:
## Using only for loop
numbers = [2, 4, 3, 0, 1]
new_numbers = []
for index in range(len(numbers)):
  new_number = numbers[index] + 10
  new_numbers.append(new_number)

print (new_numbers)

## Ouestion 7

You are given two lists, one contains names of school friends and the other contains names of college friends. Write a for loop for combining both the lists and return a single list containg both school friends as well as college friends.

Hint :
*   Input : Two lists of strings
*   Output : One list of strings

In [ ]:
school_friends = ['Nidhi', 'Anjali', 'Alisha', 'Natasha', 'Prarthna']
college_friends = ['Deepshikha', 'Farheen', 'Jyoti', 'Divya', 'Anup']
all_friends = []
for school_friend in school_friends:
  for college_friend in college_friends:
    all_friend = school_friend + college_friend
    all_friends.append(all_friend)
print(all_friends)

This is wrong. I used for loop incorrectly. The error clearly depicts that for loop iterates over college_friends 5 times for each school_friend.

In [ ]:
## Correct way of doing this question
school_friends = ['Nidhi', 'Anjali', 'Alisha', 'Natasha', 'Prarthna']
college_friends = ['Deepshikha', 'Farheen', 'Jyoti', 'Divya', 'Anup']
all_friends = []
for school_friend in school_friends:
  all_friends.append(school_friend)
for college_friend in college_friends:
  all_friends.append(college_friend)
print(all_friends)

## Question 8

You are given two lists, one contains names of school friends and the other contains names of college friends. Use a for loop and range to iterate and return a single list containg both school friends as well as college friends.

Hint :
*   Input : Two lists of strings
*   Output : One list of strings

In [ ]:
school_friends = ['Nidhi', 'Anjali', 'Alisha', 'Natasha', 'Prarthna']
college_friends = ['Deepshikha', 'Farheen', 'Jyoti', 'Divya', 'Anup']
for index in range(len(college_friends)):
    school_friends.append(college_friends[index])
print(school_friends)

## Question 9

You are given two lists, one contains names of school friends and the other contains names of college friends. Write a function and use for loop and range to iterate and return a single list containg both school friends as well as college friends.

Hint :
*   Input : Two lists of strings
*   Output : One list of strings

In [ ]:
school_friends = ['Nidhi', 'Anjali', 'Alisha', 'Natasha', 'Prarthna']
college_friends = ['Deepshikha', 'Farheen', 'Jyoti', 'Divya', 'Anup']

def all_friends(school_friends, college_friends):
    for index in range(len(college_friends)):
        school_friends.append(college_friends[index])
    return school_friends

all_friends(school_friends, college_friends)

## Question 10

You are given two lists, each containing first names and last names, respectively. Write a for loop and return a new list containing first names and last names each separated with the spaces.

Hint:
*   Input : Two lists of strings
*   Output : One list of strings

In [ ]:
first_names = ['Nidhi', 'Anjali', 'Alisha', 'Natasha', 'Prarthna']
last_names = ['Chugh', 'Sharma', 'Nassa', 'Batra', 'Goel']
full_names = []
for first_name, last_name in zip(first_names, last_names):
  full_name = first_name + ' ' +  last_name
  full_names.append(full_name)
print(full_names)

## Question 11

You are given two lists, each containing first names and last names, respectively. Write a function and return a new list containing first names and last names each separated with the spaces.

Hint:
*   Input : Two lists of strings
*   Output : One list of strings

In [ ]:
first_names = ['Nidhi', 'Anjali', 'Alisha', 'Natasha', 'Prarthna']
last_names = ['Chugh', 'Sharma', 'Nassa', 'Batra', 'Goel']

def make_full_name(first_name, last_name):
  return first_name + ' ' + last_name

def make_full_names(first_names, last_names):
  full_names = []
  for first_name, last_name in zip(first_names, last_names):
    full_name = make_full_name(first_name, last_name)
    full_names.append(full_name)
  return full_names

make_full_names(first_names, last_names)

## Question 12

You are given a list containing first names and last names. Write a function to return a list and the new list should contain tuples with the names split.

Hint:
*   Input : One list of strings
*   Output : One list of tuples Ex: [('kritika, chugh')]

In [ ]:
full_names = ['Nidhi Chugh', 'Anjali Sharma', 'Alisha Nassa', 'Natasha Batra', 'Prarthna Goel']

def split_name(full_name):
   name_split = full_name.split(' ')
   return name_split[0], name_split[1]

def split_names(full_names):
  split_full_names = []
  for full_name in full_names:
    split_full_name = split_name(full_name)
    split_full_names.append(split_full_name)
  return split_full_names

split_names(full_names)

## Question 13

You are given a list containing first names and last names. Write a function to return a new list that contains tuples. Your new list must contain only two elements.

Hint:
Input : data type: string, ex : 'kritika chugh' </br>
Output : tuple of strings, ex :  ('kritika', 'chugh') </br>
split two strings in the ouput

**Do it for one element first and then for all the elements:**
name = 'kritika chugh'</br>
def split_name(name):</br>
  name_split = name.split(' ')</br>
  return (name_split[0], name_split[1])</br>
split_name(name)</br>

In [ ]:
full_names = ['Nidhi Chugh', 'Anjali Sharma', 'Alisha Nassa', 'Natasha Batra', 'Prarthna Goel']

def split_name(full_name):
   name_split = full_name.split(' ')
   return name_split[0], name_split[1]

def split_names(full_names):
  split_full_names = []
  for full_name in full_names:
    split_full_name = split_name(full_name)
    split_full_names.append(split_full_name)
  return split_full_names

split_names(full_names[0:3:2])

## Question 14

Write a code to return a list containing one lakh integers.</br>
Hint:</br>
Input : integers</br>
Output: one list of integers

In [ ]:
numbers = range(1, 100001)
list_numbers = list(numbers)
print(list_numbers)

## Question 15

You have to create a set and then calculate the length of the set created.</br>

Hint:
*   Input : One Set
*   Output : Integer

In [ ]:
## Set of numbers
numbers = {2, 4, 3, 0, 1}
length = len(numbers)
print(length)

In [ ]:
## Set of strings
friend_names = {'Nidhi Chugh', 'Anjali Sharma', 'Alisha Nassa', 'Natasha Batra', 'Prarthna Goel'}
length = len(friend_names)
print(length)

## Question 16

You are given a set of integers and you have to write a function each for calculating the square of integers and a cube of integers, respectively. After then, you have to write a function for adding the square and cube of the integers and you have to return the results in a new set.
Hint :    
1.  Input : One set of integers Ex: [x, y, z]
2.  Process: x^2 + x^3
3.  Output: One set of integers

In [ ]:
# First way is to declare a list of integers before writing the function
numbers = {2, 4, 3, 0, 1}

def square(number):
  return number**2 

def cube(number):
  return number**3

def square_add_cubes(numbers):
  new_numbers = set()
  for number in numbers:
    new_numbers.update(square(number)+cube(number))
  return new_numbers
  

square_add_cubes(numbers)

## Question 17

Input data type: List of integers. For example: [2, 4, 3, 0, 1]</br>
Process: Use for loop for iterating over the list in reverse order.</br>
Output: List of integers in reverse order. For example: [1, 0, 3, 4, 2]</br>

In [ ]:
def reversing_numbers(numbers):
  return numbers[::-1]

reversing_numbers([2, 4, 3, 0, 1])

In [ ]:
numbers = [2, 4, 3, 0, 1]
mutated_numbers = []
for number in reversed(numbers):
  mutated_numbers.append(number)
print(mutated_numbers)

In [ ]:
a = 2
b = 4
a,b = b,a
print(a)
print(b)

In [ ]:
a, b, c, d, e = 2, 4, 3, 0, 1
a, b, c, d, e = e, d, c, b, a
print(a)
print(b)
print(c)
print(d)
print(e)

In [ ]:
a = 2
b = 4
copy_a = 2
a = b
b = copy_a
print(a,b)

In [ ]:
numbers = [2, 4]
copy_first_no = numbers[0]
numbers[0] = numbers[1]
numbers[1] = copy_first_no
print(numbers)

In [ ]:
numbers = [2, 4, 3, 0, 1]
def reverse_numbers(numbers):
    for index in range(int(len(numbers)/2)):
        copy_number = numbers[index]
        numbers[index] = numbers[len(numbers) -1 - index]
        numbers[len(numbers) -1 - index] = copy_number
    return numbers

reverse_numbers(numbers)

In [ ]:
numbers = [2, 4, 3, 0, 1]
start = 0
end = len(numbers)-1
def reverse_numbers(numbers, start, end):
  for number in numbers:
      while start < end:
        copy_number = numbers[start]
        numbers[start] = numbers[end]
        numbers[end] = copy_number
      return numbers

reverse_numbers(numbers, start, end)

In [ ]:
a = 2
b = 4
def swap_numbers(ref a, b):
    copy_a = 2
    a = b
    b = copy_a

swap_numbers(a, b)
print(a,b)